h2 {
	text-align: center;
}
.form {
	border: 1px solid black;
	border-radius: 15px;
	padding: 10px;
}
.offerDates {
	display: flex;
}
.adressInfo {
	display: flex;
}
.ageFilters {
	display: flex;
}
.submit {
	display: flex;
	align-content: center;
	justify-content: center;
	margin: 20px;
}
button {
	color: #b2025a;
	flex: 1;
	height: 35px;
	border: 2px solid #b2025a;
	border-radius: 10px;
	font-size: 20px;
	font-weight: bold;
}
button:hover {
	background-color: #b2025a;
	color: white;
}
input {
	border-radius: 5px;
	height: 25px;
	min-width: 200px;
}

select {
	min-width: 200px;
	height: 25px;
}
.detailsOfferDates,
.detailsAdressInfo,
.detailsAgeFilters {
	margin-right: 50px;
}
.detailsOffer {
	display: flex;
	justify-content: space-between;
}
.genderTarget {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.genderTarget > input {
	margin-left: 40px;
	margin-right: 10px;
}
.testTypes {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.testTypes > input {
	margin-left: 40px;
	margin-right: 10px;
}
